---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostCard from '../../components/PostCard.astro';
import "../../styles/global.css";


export async function getStaticPaths() {
  const allPosts = Object.values(
    import.meta.glob('../posts/*.md', { eager: true })
  );

  const uniqueTags = [
    ...new Set(allPosts.flatMap((post: any) => post.frontmatter.tags || [])),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.frontmatter.tags?.includes(tag)
    );

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const allPosts = Object.values(
  import.meta.glob('../posts/*.md', { eager: true })
);

const tags = [
  ...new Set(allPosts.flatMap((post: any) => post.frontmatter.tags || [])),
];
const pageBackground = "gingham"
---

<BaseLayout pageTitle={tag} pageBackground={pageBackground}>
  <h3>All the posts about {tag}</h3>
  <ul class="content">
    {posts.map((post: any) => (
      <PostCard
    url={post.url} 
    title={post.frontmatter.title}
    date={post.frontmatter.date}
    description={post.frontmatter.description}
    tags={post.frontmatter.tags}
      />
    ))}
  </ul>
</BaseLayout>