---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";
import "../styles/global.css";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
const pageTitle = "Blog";
const  pageBackground = "gingham"
---

<BaseLayout pageBackground={pageBackground} pageTitle={pageTitle}>

  <div class="tags">
    {tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>


    {allPosts.map((post: any) => <PostCard 
    url={post.url} 
    title={post.frontmatter.title}
    date={post.frontmatter.date}
    description={post.frontmatter.description}
    />)}
</BaseLayout>