---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";
import StatusBox from "../components/StatusBox.astro";
import "../styles/global.css";


const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Rachel's Archive";
const  pageBackground = "solid"
---

<BaseLayout pageBackground={pageBackground} pageTitle={pageTitle}>
    
    
    
    <p>hello and welcome to my personal blog! I'm Rachel</p>   

    <StatusBox />

    {allPosts.map((post: any) => <PostCard 
    url={post.url} 
    title={post.frontmatter.title}
    date={post.frontmatter.date}
    description={post.frontmatter.description}
    tags={post.frontmatter.tags}
    />)}
</BaseLayout>
