---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import { recs } from "../data/data.ts"
const pageTitle = "Web Recs";
const pageBackground = "solid";


---

<BaseLayout pageBackground={pageBackground} pageTitle={pageTitle}>
    <h1>Web Recommendations</h1>
    <p>
        I was inspired by some people over on GeoCities, 
        and wanted to make a page with some reccomensations 
        of some things i foudn in the internet. So here you 
        got any youtube channels, websites, blogs, games 
        and just random things.
    </p>   
    <h2>Website/Blog Recommendations</h2>
    <p>
        While I was building my own website I came 
        across tons of other really cool websites 
        that really inspired me, so I wanted to share, 
        because these really influenced me while 
        I created my own: 
    </p>
    <ul>
        {recs.websites.map((site) => (
        <li>
            <a href={site.url} target="_blank" rel="noopener noreferrer">
            {site.name}
            </a>
        </li>
        ))}
    </ul>
    <h2>Youtube Recommendations</h2>
    <ul>
        {recs.youtube.map((site) => (
        <li><a href={site.url} target="_blank" rel="noopener noreferrer">{site.name}</a></li>
        ))}
    </ul>
</BaseLayout>