---
const { title, url, date, description, tags } = Astro.props
import { formatDate } from  "../js/utils.js"

export function formatTags(tags = []) {
  return tags.map(tag => `${tag} `);
}
---
<li class="postcard">
  
  <a class="postheader" href={url}>
    <p class="postdate">{formatDate(date)}</p>
    <h1 class="posttitle">{title}</h1>

   
  </a>
  <p class="posttags">
    {(tags || []).map((tag) => (
      <a class={tag} id="tag" href={`/tags/${tag}`}>{tag}</a>
    ))}
  </p>
</li>
