---
interface Props {
  title: string;
  url: string;
  date: string | Date;
  description?: string;
  tags?: string[];
};

const { title, url, date, description, tags } = Astro.props;
import { formatDate } from  "../js/utils.js"

---
<div class="postcard">
  <a class="postHeader" href={url}>
    <p class="postDate">{formatDate(date)}</p>
    <h1 class="postTitle">{title}</h1>
    <p class="postDescription">{description}</p>
  </a>
  <div class="postFooter">
    <p class="postTags">
      {(tags || []).map((tag) => (
        <a id="tag" href={`/tags/${tag}`}>{tag}</a>
      ))}
    </p>
  </div>
</div>

